@font-face {
    font-family: 'Whitney';
    src: url('Whitney-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
:root {
    --font-primary: "Whitney";
    --font-display: "Whitney";
}
::placeholder, body, button, input, select, textarea{
    font-family: "Whitney" !important;
}

